:root {
	--umber: #4D5C60;
	--wintergreen: #525266;
	--seafoam: #D1E0DE;
	--pistachio: #EEF4CE;
	--twinflame: #4D5C60;
	--white: white;
}

body {
	background-color: var(--seafoam);
	color: var(--umber);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 20px;
}

.title {
	display:flex;
	align-items: flex-end;
	justify-content: space-around;
	background-color: var(--wintergreen);
	color: var(--white);
	font-size: 2rem;
	border-radius: 10px;
	padding: 25px;
}

.main {
	display: flex;
	flex-direction: column;
}

.form {
	align-self: center;
}

.adminCentre {
	align-self: center;
}

button {
	background-color: var(--twinflame);
	color: var(--white);
	border-radius: 5px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 5px 25px;
	font-size: 1.5rem;
	font-weight: 400;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 5px;
	gap: 5px;
}

.option {
	background-color: #D1E0DE;
	color: var(--wintergreen);
}

.alt_options {
	background-color: #39c10c48;
}

:any-link {
	color: var(--wintergreen);
	text-decoration: none;
}

fieldset {
	border-radius: 5px;
	color: var(--umber);
	border-color: var(--umber);
}

.my_fieldsets {
	/* display: flex; */
	/* flex-direction: row; */
	/* justify-content: space-around; */
	padding: 15px 0px;
}

input, select {
	accent-color: var(--pistachio);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 1.5rem;
	border-radius: 5px;
	border-color: var(--umber);
	background-color: var(--pistachio);
	color: var(--umber);
	padding: 5px 10px;
}

#genre {
	background-color: rgba(128, 0, 128, 0.173);
}

.genre {
	border-radius: 5px;
	margin: 35px;
	padding: 10px;
}

img {
	max-height: 150px;
	border-radius: 50%;
}

#film {
	border-radius: 10px;
	border-style: dashed;
	border-width: 5px;
	border-color: black;
}

li {
	font-size: 1.2rem;
}

.modify {
	display: flex;
	justify-content: space-around;
}

.exit {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 900px) {
	
	html {
		font-size: 12px;
	}

}

@media (max-width: 550px) {
	
	html {
		font-size: 8px;
	}

	img {
		max-height: 50px;
	}

	.menu {
		flex-direction: column;
	}

}