{% extends 'layout.html' %}

{% block main_content %}

<div class="title">
			
	<img id="film" src="../static/cinema-4153289_1280.jpg" alt="Film Image by Mohamed Hassan from Pixabay">

	<h3>Film Flix - Admin</h3>
</div>

<div class="menu">
	<a href="/admin/read"><button class="option">Find</button></a>
	<a href="/admin/update"><button class="option">Amend</button></a>
	<a href="/admin/create"><button class="option"></button>Add</button></a>
	<a href="/admin/delete"><button class="option">Remove</button></a>
</div>

<div style="text-align: center;"><br>{{ message }}<br></div>

	<div class="database">

		<div class="form">
			
			<form method="POST" action="">
			{{ form.hidden_tag() }}
 
			<div class="my_fieldsets">
				<div>
					{% if action == 'read' %}
					<div>
						<fieldset>
							<legend><h3>Find a film</h3></legend>
							<label for="word_to_lookup">Look for a word in the title</label>
							<br>
							<input type="text" id="word_to_lookup" name="word_to_lookup" placeholder="&#10068;">
							<br>
						</fieldset>
					</div>
			
					{% elif action == 'delete' %}
					<div>
						<fieldset>
							<legend><h3>Remove a film</h3></legend>
							<label for="id_to_delete">Film ID</label>
							<br>
							<input type="number" id="id_to_delete" name="id_to_delete" placeholder="&#128290;">
							<br>
						</fieldset>
					</div>

					{% elif action == 'create' %}
					<div class="modify">
						<fieldset>
							<legend><h3>Add a Film</h3></legend>
							<label for="title">Title:</label>
							<br>
							<input type="text" id="title" name="title" placeholder="&#10068;">
							<br>
							<label for="year_released">Year Released:</label>
							<br>
							<input type="number" id="year_released" name="year_released" min="1888" max="{{year}}" placeholder="1888">
							<br><br>
							<select id="rating" name="rating">
								<option value="" selected="selected">Select a Rating</option>
								{% for distinct_rating in ratings %}
								<option value="{{distinct_rating}}">{{ distinct_rating }}</option>
								{% endfor %}
							</select>
							<br>
							<label for="genre">Genre:</label>
							<br>
							<input type="text" id="genre" name="genre" placeholder="&#127917;">
							<br>
							<label for="duration">Duration:</label>
							<br>
							<input type="number" id="duration" name="duration" min="1" max="874" placeholder="&#9201;&#65039;">
							<br>
						</fieldset>

						<div id="genre" class="genre">
							<legend>&#127917;</legend>
							<ol>
							{% for genre in genres %}
								<li>{{ genre }}</li>
							{% endfor %}
							</ol>
						</div>
					</div>

					{% elif action == 'update' %}
					<div class='modify'>
						<fieldset>
							<legend><h3>Amend Film Details</h3></legend>
							<label for="film_id">Film ID</label>
							<br>
							<input type="number" id="film_id" name="film_id" placeholder="&#128290;">
							<br><br>
							<select id="fieldname" name="fieldname">
								<option value="" selected="selected">Select Field to Amend</option>
								<option value="title">Title</option>
								<option value="yearReleased">Year Released</option>
								<option value="rating">Rating</option>
								<option value="genre">Genre</option>
								<option value="duration">Duration</option>
							</select>
							<br><br>
							<label for="fieldvalue">New value:</label>
							<br>
							<input type="text" id="fieldvalue" name="fieldvalue" placeholder="&#10067;">
							<br>
						</fieldset>

						<div id="genre" class="genre">
							<legend>&#127917;</legend>
							<ol>
							{% for genre in genres %}
								<li>{{ genre }}</li>
							{% endfor %}
							</ol>
						</div>
					</div>

					{% endif %}
				</div>
				<br>
				<button type="submit">Submit</button>
			</form>
		</div>

		<div>
			{% if confirmation %}
				<fieldset>
					<legend>Database Response:</legend>
						{% if 'not found' in confirmation %}
							<p>No results found</p>
						
						{% elif 'error' in confirmation %}
							<p>Sorry, that message wasn't understood</p>

						{% elif 'success' in confirmation %}
							<p>{{ confirmation['success'] }}</p>
								
						{% else %}
							<table>
								<tr>
									<th>Film ID</th>
									<th>Film Title</th>
									<th>Year Released</th>
									<th>Rating</th>
									<th>Duration</th>
									<th>Genre</th>
								</tr>
								{% for film in confirmation %}
								<tr>
									<td>{{ film['id'] }}</td>
									<td>{{ film['title'] }}</td>
									<td>{{ film['year_released'] }}</td>
									<td>{{ film['rating'] }}</td>
									<td>{{ film['duration'] }}</td>
									<td>{{ film['genre'] }}</td>
								</tr>
								{% endfor %}
							</table>
				
				{% endif %}
				</fieldset>
				<br>
				<div class="exit">
					<a href="/admin/none"><button class="alt_options">See database</button></a>
				</div>

			{% else %}
				<h2>Films Available:</h2>
				<table>
					<tr>
						<th>Film ID</th>
						<th>Film Title</th>
						<th>Year Released</th>
						<th>Rating</th>
						<th>Duration</th>
						<th>Genre</th>
					</tr>
					{% for film in films %}
					<tr>
						<td>{{ film['id'] }}</td>
						<td>{{ film['title'] }}</td>
						<td>{{ film['year_released'] }}</td>
						<td>{{ film['rating'] }}</td>
						<td>{{ film['duration'] }}</td>
						<td>{{ film['genre'] }}</td>
					</tr>
					{% endfor %}
				</table>

			{% endif %}
		</div>

	</div>

{% endblock %}