{% extends 'layout.html' %}

{% block main_content %}

<div class="title">
			
	<img src="../static/headphones-4223911_1280.jpg" alt="Headphones Image by OsloMetX from Pixabay">

	<h1>Film Flix</h1>
</div>

	<div class="database">

		<div class="form">
			{{ message }}
			<form method="POST" action="">
			{{ form.hidden_tag() }}

			<div class="my_fieldsets">
				<div>
					<fieldset>
						<legend><h3>Find a film</h3></legend>
						<label for="word_to_lookup">Look for a word in the title</label>
						<br>
						<input type="text" id="word_to_lookup" name="word_to_lookup">
						<br>
					</fieldset>

				<br>
			</div>
			
			<div>
				<button type="submit">Submit</button>
				<button id="admin"><a href="./admin/none">Admin</a></button>
			</div>
			
		</form>
		</div>

		<div>
			{% if search_results %}
				<fieldset>
					<legend><h2>Search Results</h2></legend>
					{% if 'not found' in search_results %}
					<p>{{ search_results['not found'] }}</p>

					{% else %}
						<table>
							<tr>
								<th>Film ID</th>
								<th>Film Title</th>
								<th>Year Released</th>
								<th>Rating</th>
								<th>Duration</th>
								<th>Genre</th>
							</tr>
							{% for film in search_results %}
							<tr>
								<td>{{ film['id'] }}</td>
								<td>{{ film['title'] }}</td>
								<td>{{ film['year_released'] }}</td>
								<td>{{ film['rating'] }}</td>
								<td>{{ film['duration'] }}</td>
								<td>{{ film['genre'] }}</td>
							</tr>
							{% endfor %}
						</table>
					{% endif %}
				</fieldset>
				<br>
			{% else %}
				<fieldset>
					<legend>Database Tail</legend>
					<table>
						<tr>
							<th>Film ID</th>
							<th>Film Title</th>
							<th>Year Released</th>
							<th>Rating</th>
							<th>Duration</th>
							<th>Genre</th>
						</tr>
						{% for film in films %}
						<tr>
							<td>{{ film['id'] }}</td>
							<td>{{ film['title'] }}</td>
							<td>{{ film['year_released'] }}</td>
							<td>{{ film['rating'] }}</td>
							<td>{{ film['duration'] }}</td>
							<td>{{ film['genre'] }}</td>
						</tr>
						{% endfor %}
					</table>
				</fieldset>	
			{% endif %}
		</div>

	</div>

{% endblock %}