{% extends 'layout.html' %}

{% block main_content %}

	<div class="database">

		<div class="title">
			<h1>Film Flix</h1>
		</div>

		<div>
		{{ message }}
		</div>

		<div class="form">
			<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div>
				<fieldset>
					<legend><h3>Add a Film</h3></legend>
					<label for="title">Title:</label>
					<br>
					<input type="text" id="title" name="title">
					<br>
					<label for="year_released">Year Released:</label>
					<br>
					<input type="number" id="year_released" name="year_released" min="1880">
					<br>
					<label for="rating">Rating:</label>
					<br>
					<input type="text" id="rating" name="rating">
					<br>
					<label for="genre">Genre:</label>
					<br>
					<input type="text" id="genre" name="genre">
					<br>
					<label for="duration">Duration:</label>
					<br>
					<input type="number" id="duration" name="duration">
					<br>
				</fieldset>
			</div>

			<div>
				<fieldset>
					<legend><h3>Amend Film Details</h3></legend>
					<label for="film_id">Film ID</label>
					<br>
					<input type="number" id="film_id" name="film_id">
					<br>
					<label for="fieldname">Field To Amend:</label>
					<br>
					<input type="text" id="fieldname" name="fieldname">
					<br>
					<label for="fieldvalue">New value:</label>
					<br>
					<input type="text" id="fieldvalue" name="fieldvalue">
					<br>
				</fieldset>
			</div>

			<div>
				<fieldset>
					<legend><h3>Remove a film</h3></legend>
					<label for="film_id">Film ID</label>
					<br>
					<input type="number" id="film_id" name="film_id">
					<br>
				</fieldset>
			</div>

			<button type="submit">Submit</button>
		</form>
		</div>

		<div>
			<h2>Results</h2>
			<table>
				<tr>
					<th>Film ID</th>
					<th>Film Title</th>
					<th>Year Released</th>
					<th>Rating</th>
					<th>Duration</th>
					<th>Genre</th>
				</tr>
				{% for film in films %}
				<tr>
					<td>{{ film['film_id'] }}</td>
					<td>{{ film['title'] }}</td>
					<td>{{ film['year_released'] }}</td>
					<td>{{ film['rating'] }}</td>
					<td>{{ film['duration'] }}</td>
					<td>{{ film['genre'] }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>

	</div>

{% endblock %}